force-app/main/default/flows/Send_Year_End_Tax_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_the_Emails</name>
        <label>Send the Emails</label>
        <locationX>507</locationX>
        <locationY>305</locationY>
        <actionName>YearEndTaxEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>getIdsFromListView.recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>emailTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldNamesString</name>
            <value>
                <elementReference>fieldNamesString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listViewId</name>
            <value>
                <elementReference>listViewId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>rcsEmailTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>emailTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsFieldDefinitions</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DataType</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Rich</stringValue>
            </value>
        </filters>
        <object>FieldDefinition</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsListViews</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>ListView</object>
        <outputAssignments>
            <assignToReference>listViewApiName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>listViewId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fmlaVFUrl</name>
        <dataType>String</dataType>
        <expression>&quot;/apex/YearEndTaxEmailHelper?listViewId=&quot;+ {!listViewId} +&quot;&amp;emailTemplateId=&quot;+ {!emailTemplateId} +&quot;&amp;fieldNamesString=&quot;+ {!fieldNamesString}</expression>
    </formulas>
    <interviewLabel>Send Year End Tax Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Year End Tax Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>332</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Send_the_Emails</targetReference>
        </connector>
        <fields>
            <name>dispWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: rgb(234, 32, 32);&quot;&gt;READ BEFORE SENDING!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to be redirected to a loading page. &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please do not close or refresh the page until you see a confirmation message.&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; This may take several minutes, depending on how many emails you&apos;re sending.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Note: Salesforce has a limit of 5,000 emails/day using the API. If you have more than 5,000 contacts to email you need to split them up over multiple days.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getIdsFromListView</name>
            <extensionName>c:getIdsFromListViewHelper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>listViewApiName</name>
                <value>
                    <elementReference>listViewApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Emails!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>684</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Results_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispSuccess</name>
                    <fieldText>&lt;p&gt;Success&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(6, 125, 35); font-size: 20px;&quot;&gt;{!Send_the_Emails.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Send_the_Emails.status</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Results_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 27, 27); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;{!Send_the_Emails.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_the_Emails.status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>success</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Input_Screen</name>
        <label>User Input Screen</label>
        <locationX>176</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>User_Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispEmailTemplate</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select Email Template to Use&lt;/b&gt; (&lt;a href=&quot;/lightning/setup/CommunicationTemplatesEmail/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;open Email Templates&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;In email templates, references to the field &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: courier;&quot;&gt;Contact.Gifts_Last_Year__c&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; will be displayed in the email as a table of the fields you select below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Email_Template_to_use</name>
                    <choiceReferences>rcsEmailTemplates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Email Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;In email templates, reference to the field {! Contact.Gifts_Last_Year__c} will display in the email as a table.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Input_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispListView</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select Contact List View&lt;/b&gt;&lt;b&gt; &lt;/b&gt;(&lt;a href=&quot;/lightning/o/Contact/list&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;open List Views&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;The list view you select determines which contacts will receive the email.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact_List_View_to_Email</name>
                    <choiceReferences>rcsListViews</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>List View</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Input_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispFormatting</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Format the Data Table&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Choose which fields will appear in the table table. Pick from all fields on the Contact object, plus lookups to related objects. The most common use is use Close Date + Amount, but you can also customize for any fields required by your organization.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fieldPicker</name>
                    <extensionName>c:fieldSelector</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowLookups</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>fieldNamesString</assignToReference>
                        <name>selectedFieldsNamesString</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldNamesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listViewApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listViewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
