force-app/main/default/flows/Year_End_Tax_Email_Admin_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_YETE</name>
        <label>Send YETE</label>
        <locationX>176</locationX>
        <locationY>460</locationY>
        <actionName>YearEndTaxEmailController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Select_Email_Template_to_use</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldNamesString</name>
            <value>
                <elementReference>fieldNamesString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listViewId</name>
            <value>
                <elementReference>Select_Contact_List_View_to_Email</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>rcsEmailTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>emailTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsFieldDefinitions</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DataType</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Rich</stringValue>
            </value>
        </filters>
        <object>FieldDefinition</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsListViews</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>ListView</object>
        <outputAssignments>
            <assignToReference>listViewId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Year End Tax Email Admin Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Year End Tax Email Admin Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Input_Screen</name>
        <label>User Input Screen</label>
        <locationX>176</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_YETE</targetReference>
        </connector>
        <fields>
            <name>User_Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispEmailTemplate</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select Email Template to Use&lt;/b&gt; (&lt;a href=&quot;/lightning/setup/CommunicationTemplatesEmail/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;open Email Templates&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;In email templates, references to the field &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: courier;&quot;&gt;Contact.Gifts_Last_Year__c&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; will be displayed in the email as a table of the fields you select below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Email_Template_to_use</name>
                    <choiceReferences>rcsEmailTemplates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Email Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;In email templates, reference to the field {! Contact.Gifts_Last_Year__c} will display in the email as a table.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Input_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispListView</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select Contact List View&lt;/b&gt;&lt;b&gt; &lt;/b&gt;(&lt;a href=&quot;/lightning/o/Contact/list&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;open List Views&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;The list view you select determines which contacts will receive the email.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact_List_View_to_Email</name>
                    <choiceReferences>rcsListViews</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>List View</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Input_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispFormatting</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Format the Data Table&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Choose which fields will appear in the table table. Pick from all fields on the Contact object, plus lookups to related objects. The most common use is use Close Date + Amount, but you can also customize for any fields required by your organization.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fieldPicker</name>
                    <extensionName>c:fieldSelector</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>fieldNamesString</assignToReference>
                        <name>selectedFieldsNamesString</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldNamesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listViewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
